.button {
    position: absolute;
    padding: 20px 40px;
    font-size: 2em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    left: 10px;
}

#resetButton {
    top: 20px;
}

#rotateButton {
    top: 120px;
}

/* 回転時に表示される「停止」ボタン */
#rotateButton.rotating {
    background-color: #FF6347;
}
